html, body{
    font-size: 16px;
}
body {
    padding: 40px 0 0 0;
}
span{
    display: inline-block;
}
textarea:focus, input:focus{
    outline: none;
}


/**/
.login-form{width:390px; padding: 250px 0 0 0;}
.login-title{font-family: 'Exo', sans-serif;text-align:center;color: white;}
.login-userinput{margin-bottom: 10px;}
.login-button{margin-top:10px; background: #82c600; border: 1px solid #6d9227;}
.login-button:hover{background: #7db119; border: 1px solid #6d9227;}
.login-options{margin-bottom:0px;}
.login-forgot{float: right;}


/*Meerting*/
.header{
    vertical-align: middle;
}
.sche-meeting{
    width: 1180px; margin: 0 auto;
}
.logo-inner{
}
.user-profile-bg{
    position: absolute; top: 104px; left: 0; width: 100%; z-index: -1;
    background: #2b2d28; padding: 8px 0; height: 50px;
}
.user-profile-cont{
    text-align: right; padding: 40px 0; color: white;
}
.user-profile-cont .fa{
    font-size: 1.3rem;
}
.user-profile-cont span{
    margin: 0 20px 0 0;
}
.section-title{
    font-size: 1.4rem;
    top: -7px;
    position: relative;
}

/**/
.schedule-form{
    width: 800px;
}

.schedule-form .s-form{
    font-size: 2rem;
    padding:0 0 24px 0; margin: 0 0 10px 0;
    border-bottom: 1px solid lightgray;
}

.schedule-form .s-form input[type=text] {
    background: transparent; color:#8C19B1;
    border: none;
    border-bottom: 1px dotted #000000;
}

.schedule-form .s-form .select-associate{
    width: 380px;
}
.schedule-form .s-form  .date-picker{
    width: 180px;
}

.schedule-form .s-form  .time{
    width: 130px;
}
.meetings-list .fa-check{
    color: #4cbe75;
}

.meetings-list .table-striped .fa{
    width: 20px; text-align: center;
}
.feedback-area{
    padding: 0 0 10px 0;
}

.feedback-area textarea{
    width: 100%;
}
.modal-body h3{
    border-bottom: 1px solid #b2b2b2;
}
.modal-body .perf-fields input{
    height: 36px; margin: 0 6px 10px 0;
}
.modal-body .perf-fields .kpi{
    width: 350px;
}
.modal-body .perf-fields .kpi-review{
    width: 200px;
}




/* Utilities */
.tb-space{
    padding:10px 0;
}
.btn-primary{
    background: #7db119; border: 1px solid #74a519; padding: 10px 14px;
    border-radius: 6px;
}
.btn-primary:hover{background: #6d9227; border: 1px solid #6d9227;}

.table-striped .fa{
    font-weight:normal;
}